
#header{
	font-size:50 px;
	color: brown;
	background-color:FAF795;
	}
	
body, html {
  height: 100%;
  margin: 0;
}


.bg {
  /* The image used */
  background-image: url("../images/headertable.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  
   
    
}
